@import "../../../node_modules/codemirror/lib/codemirror.css";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: 80vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.close-button{
    padding-right: 0.3vw;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;  
}

.name-author{
    display: flex;
    padding-top: 2vh;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}

.name, .author{
    width: 50%;
}

.name-author label, .content label{
    font-size: 2vh;
    font-weight: 600;
}

.name-author input{
    font-size: 1.7vh;
    height: 3vh;
    display: flex;
    width: 90%;
}
.content{
    padding-top: 1vh;
    padding-left: 2%;
    padding-right: 2%;
}

.content .ReactCodeMirror{
    height: 69.1vh;
}

.content .CodeMirror{
    height: 69vh;
}