@import "../../../node_modules/codemirror/lib/codemirror.css";

.code-editor{
    position: relative;
    margin-top: 28px;
    height: 85vh;
    border: 1px solid black;
    background-color: white;
}

.code-editor .ReactCodeMirror{
    height: 85vh;
}

.code-editor .CodeMirror{
    height: 80.7vh;
}

.input-block{
    margin-top: 1vh;
    text-align: center;
    height: 3vh;
}

.input-block input{
    height: 100%;
    width: 45%;
    border-radius: 20vh;
    padding: 0 2vw;
    border-color: #adadad;
    border-style: outset;
}

.input-block input + input{
    margin-left: 2%;
}

.button-register{
    position: absolute;
    background-color: #434343;
    color: white;
    padding: 1vh 1vw;
    bottom: 2vh;
    right: 1vw;
    font-weight: 800;
    border: solid 2px #272727;
}

.button-register:hover{
    background-color: #303030;
    cursor: pointer;
}