@import "../../../node_modules/codemirror/lib/codemirror.css";

.code-editor{
    margin-top: 28px;
    height: 85vh;
    border: 1px solid black;
    background-color: white;
}

.ReactCodeMirror{
    height: 85vh;
}

.CodeMirror{
    height: 80.7vh;
}

.input-block{
    margin-top: 1vh;
    text-align: center;
    height: 3vh;
}

.input-block input{
    height: 100%;
    width: 45%;
}

.input-block input + input{
    margin-left: 2%;
}