aside{
    width: 320px;
    height: 100vh;
    background: #434343;
    color: #FFF;
    padding-top: 30px;
    text-shadow: 2px 2px black ;
}

aside strong{
    padding: 30px 60px;
    font-size: 34px;
    text-align: left;
    color: #FFF;
}

aside .title{
    text-decoration: none;
}